name: .NET Core CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore Asisya.Backend/Asisya.Backend.sln
      
    - name: Build Backend
      run: dotnet build Asisya.Backend/Asisya.Backend.sln --no-restore --configuration Release
      
    - name: Test Backend
      run: dotnet test Asisya.Backend/Asisya.Backend.sln --no-build --verbosity normal --configuration Release

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20
        
    - name: Install Frontend Dependencies
      working-directory: ./asisya-frontend
      run: npm install
      
    - name: Build Frontend
      working-directory: ./asisya-frontend
      run: npm run build
